extends ../../core/layout.pug

block content

	include ../../../mixins/category-tree.pug
	include ../../../mixins/horizontal-form.pug

	if doc._id
		h1 Editing product #{doc.name}
		- var action = `${url}/admin/catalog/products/update/${doc._id}`;
	else
		h1 New product - step 2
		- var action = `${url}/admin/catalog/products/store/${type}/${attributeSetId}`;
	- var isSuper = (doc.type === 'super' || type === 'super') // Creating or editing a super product
	- var superAttributes = {}; // This will be populated when we loop on select-type attributes below.

	+form(action, true)

		ul.nav.nav-tabs(role='tablist')
			li.active(role='presentation')
				a(href='#general' aria-controls='general' role='tab' data-toggle='tab') General
			li(role='presentation')
				a(href='#categories' aria-controls='categories' role='tab' data-toggle='tab') Categories
			li(role='presentation')
				a(href='#images' aria-controls='images' role='tab' data-toggle='tab') Images
			li(role='preentation')
				a(href='#meta' aria-controls='meta' role='tab' data-toggle='tab') Meta
			if isSuper
				li(role='presentation')
					a(href='#children' aria-controls='children' role='tab' data-toggle='tab') Children

		.tab-content
			#general.tab-pane.active(role='tabpanel')
				+text-field('name', 'Name')
				+text-field('sku', 'SKU')
				if !isSuper
					//- Super products handle stock per child level
					+number-field('stock', 'Stock')
				each a in attributes
					if a.code !== 'name' && a.code !== 'sku' && !a.code.startsWith('meta')
						case a.inputType
							when 'text'
								+text-field(a.code, a.label, !a.isRequired)
							when 'textarea'
								+textarea(a.code, a.label, !a.isRequired)
							when 'date'
								+date-field(a.code, a.label, !a.isRequired)
							when 'select'
								if (!isSuper || !a.isSuper)
									//- Omit super attributes for super product forms
									+select-field(a.code, a.label, a.options, !a.isRequired)
								else
									- superAttributes[a.code] = a;
							when 'multiselect'
								+multiselect-field(a.code, a.label, a.options, !a.isRequired)
							when 'yesno'
								+yesno-field(a.code, a.label, !a.isRequired)
							when 'price'
								+number-field(a.code, a.label, !a.isRequired)


			#categories.tab-pane(role='tabpanel')
				select.form-control(name='categories[]' id='categories[]' multiple=true size=15)
					each leaf in tree
						+input-branch(leaf, {})
				span.help-block Select one or more categories for the product. De-select a category by using CTRL + Click

			#images.tab-pane(role='tabpanel')
				each a in attributes
					if a.inputType === 'gallery'
						.well
							.row
								.col-sm-2
									strong= a.label
								.col-sm-2
									button.btn.btn-primary(type='button' data-action='attach' data-target=a.code)
										i.fa.fa-plus.fa-fw
										| Add
								.col-sm-8
									span(id=`label-${a.code}`)
									input(type='file' name=a.code, id=a.code, multiple style={'display': 'none'})
							if doc[a.code]
								each img in doc[a.code]
									.row
										.col-sm-2
											.checkbox
												label
													input(type='checkbox' name='gallery[]' value=img)
													| Remove
										.col-sm-10
											img.img-thumbnail(src=img, style={'max-width': '50px', 'max-height': '50px'})


			#meta.tab-pane(role='tabpanel')
				each a in attributes
					if a.code.startsWith('meta')
						+text-field(a.code, a.label, !a.isRequired)

			if isSuper
				//- Initialize the children counter
				script.
					var i = parseInt(`#{doc._id? doc.children.length : 0}`),
						superAttributes = !{JSON.stringify(superAttributes)};
				#children.tab-pane(role='tabpanel')
					.form-group
						label.col-sm-2.control-label(for='superAttribute')
						.col-sm-8
							select.form-control(name='superAttribute' id='superAttribute', required)
								each superAttr, code in superAttributes
									option(value=code)= superAttr.label
						.col-sm-2
							button.btn.btn-primary(type="button" data-action='new-child')
								i.fa.fa-plus.fa-fw 
								| Add child
					.row
						.child-fields
							if doc._id
								- var j = 0;
								each stock, superValue in doc.children
									.row.well(data-child=j)
										.col-sm-2
											button.btn.btn-danger(type='button' onclick=`deleteChild($j)`)
												i.fa.fa-times
										.col-sm-5
											select.form-control(name=`children[${j}][super]` required)
												each opt in superAttributes[doc.superAttribute].options
													option(value=opt, selected=(opt === superValue))= opt
										.col-sm-5
											input.form-control(
												type='text'
												name=`children[${j}][stock]`
												required
												placeholder='Stock'
												value=stock
											)
									- j++;

		+submit

block scripts
	script(type='text/javascript' src='/js/product.js')