extends ../../core/layout.pug

block content

	include ../../../mixins/data-grid.pug

	+create-btn(`${url}/admin/catalog/products/new`)

	h1 Products
	
	+table('admin/catalog/products')
		thead
			tr
				+select-header('type', 'Type', {
					'super': 'Super',
					'simple': 'Simple'
				})
				+text-header('name', 'Name')
				+text-header('sku', 'SKU')
				+text-header('price', 'Price')
				+yesno-header('isInStock', 'In Stock')
				+yesno-header('enabled', 'Enabled')
				th
		tbody
			each doc in docs
				tr(data-action='edit' data-url=`${url}/admin/catalog/products/edit/${doc._id}`)
					td= doc.type.charAt(0).toUpperCase() + doc.type.slice(1)
					td= doc.name
					td= doc.sku
					td= `$${parseFloat(doc.price).toFixed(2)}`
					td= doc.isInStock ? 'Yes' : 'No'
					td= doc.enabled ? 'Yes' : 'No'
					td: a(href=`${url}/admin/catalog/products/delete/${doc._id}`) Delete

block scripts
	script(type='text/javascript' src='/js/data-grid.js')