mixin text-header(key, label)
	th(data-sort-by=key)&attributes(pag.sortBy === key? {'data-sort-dir': pag.sortDir}: {})
		label= label 
			if pag.sortBy === key
				if pag.sortDir == 1
					i.fa.fa-chevron-up
				else if pag.sortDir == -1
					i.fa.fa-chevron-down
		input(type='text' class='form-control' value=`${pag.filters[key] || ''}` data-filter=key)

mixin select-header(key, label, options)
	th(data-sort-by=key)&attributes(pag.sortBy === key? {'data-sort-dir': pag.sortDir}: {})
		label= label
		select(class='form-control' data-filter=key)
			option()
			each opt in options
				option(value=opt)= opt

mixin paginator()
	.row(data-role='paginator')
		.col-xs-4
			if pag.currentPage > 1
				button(class='btn btn-primary' data-page=`${pag.currentPage - 1}`)
					i.fa.fa-chevron-left
		.col-xs-4
			span.badge #{pag.currentPage}
		.col-xs-4
			if pag.currentPage < pag.totalPages
				button(class='btn btn-primary' data-page=`${pag.currentPage + 1}`)
					i.fa.fa-chevron-right
	.row
		p Page #{pag.currentPage} of #{pag.totalPages}