nav.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-ecommet-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#{url}') Ecommet Admin
		.collapse.navbar-collapse.navbar-ecommet-collapse
			ul.nav.navbar-nav
				li.dropdown
					a.dropdown-toggle(href='#' data-toggle='dropdown') Sales
					ul.dropdown-menu
						li: a(href=`${url}/admin/sales/orders`) Orders
						li: a(href=`${url}/admin/sales/invoices`) Invoices
						li: a(href=`${url}/admin/sales/shipments`) Shipments
				li.dropdown
					a.dropdown-toggle(href='#' data-toggle='dropdown') Catalog
					ul.dropdown-menu
						li: a(href=`${url}/admin/catalog/attributes`) Attributes
						li: a(href=`${url}/admin/catalog/attributeSets`) Attribute Sets
						li: a(href=`${url}/admin/catalog/categories`) Categories
						li: a(href=`${url}/admin/catalog/products`) Products
				li: a(href=`${url}/admin/customers`) Customers
				li.dropdown
					a.dropdown-toggle(href='#' data-toggle='dropdown') Users
					ul.dropdown-menu
						li: a(href=`${url}/admin/users`) Users
						li: a(href=`${url}/admin/roles`) Roles
						li: a(href=`${url}/admin/permissions`) Permissions
			ul.nav.navbar-nav.navbar-right
				li: a(href=`${url}/admin/logout`) Logout