//-
	Starts rendering the category tree.
mixin tree
	.panel-group#accordion-0(role='tablist' aria-multiselectable='true')
		block

//-
	Renders the category tree branches recursively for the category index view.
mixin branch(leaf)
	.panel.panel.default
		.panel-heading(role='tab' id=`heading-${leaf._id}`)
			h4.panel-title
				a(role='button' data-toggle='collapse' data-parent=`#accordion-${leaf.parentId || '0'}` href=`#collapse-${leaf._id}` aria-expanded='true' aria-controls=`collapse-${leaf._id}`)
					i.fa.fa-chevron-right
				=leaf.name
				.dropdown.pull-right
					button.btn.btn-link(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
						| Options 
						i.fa.fa-chevron-down
					ul.dropdown-menu
						li: a(href=`${baseUrl}/edit/${leaf._id}`) Edit
						li: a(href=`${baseUrl}/create/${leaf._id}`) Create child category
						li.divider(role='separator')
						li: a(href=`${baseUrl}/delete/${leaf._id}`) Delete

		.panel-collapse.collapse(role='tabpanel' aria-labelledby=`heading-${leaf._id}` id=`collapse-${leaf._id}` class=`${leaf.parentId === null? 'in' : ''}`)
			.panel-body
				if leaf.leaves
					.panel-group(id=`accordion-${leaf._id}`)
						each child in leaf.leaves
							+branch(child)
				else
					p No subcategories for #{leaf.name}

//-
	Renders the tree recursively for a multiselect form input.
mixin input-branch(leaf, hash)
	if leaf.enabled
		option(value=leaf._id selected=(doc._id && doc.categories.indexOf(leaf._id) !== -1))
			if leaf.parentId
				-
					// Replace the IDs on the path with the names which are set on the hash
					var pathArr = leaf.path.split('/');
					pathArr.forEach((id, index) => { pathArr[index] = hash[id]; });
					var name = `/ ${pathArr.join(' / ')} / ${leaf.name}`;
				=name
			else
				=leaf.name
		- hash[leaf._id] = leaf.name;
		if leaf.leaves
			each child in leaf.leaves
				+input-branch(child, hash)