//-
	Sortable, filterable text headers on tables.
	
mixin text-header(key, label)
	th(data-sort-by=key)&attributes(pag.sortBy === key? {'data-sort-dir': pag.sortDir}: {})
		label= label 
			if pag.sortBy === key
				if pag.sortDir == 1
					i.fa.fa-chevron-up
				else if pag.sortDir == -1
					i.fa.fa-chevron-down
		input.form-control(type='text' value=`${pag.filters[key] || ''}` data-filter=key)

//-
	Sortable, filterable select headers on tables.

mixin select-header(key, label, options)
	th(data-sort-by=key)&attributes(pag.sortBy === key? {'data-sort-dir': pag.sortDir}: {})
		label= label
		select.form-control(data-filter=key)
			option()
			each opt in options
				option(value=opt, selected=(pag.filters[key] === opt))= opt

//-
	Sortable, filterable yes/no header.
mixin yesno-header(key, label)
	th(data-sort-by=key)&attributes(pag.sortBy === key? {'data-sort-dir': pag.sortDir}: {})
		label= label
		select.form-control(data-filter=key)
			option()
			option(value='true', selected=(pag.filters[key] === true)) Yes
			option(value='false', selected=(pag.filters[key] === false)) No

//-
	Pagination controls, reset and search buttons
	
mixin toolbar()
	.row-fluid
		span Page 
		span 
			button.btn.btn-link(data-action='page' data-next='0' disabled=(pag.currentPage == 1))
				i.fa.fa-chevron-left
		input(type='text' data-action='page' value=pag.currentPage)
		span
			button.btn.btn-link(data-action='page' data-next='1' disabled=(pag.currentPage == pag.totalPages))
				i.fa.fa-chevron-right
		span of #{pag.totalPages} pages. Found #{pag.totalDocs} records.
		div.btn-group.pull-right(role='group')
			button.btn.btn-link(data-action='reset') 
				i.fa.fa-fw.fa-eraser
				| Reset
			button.btn.btn-link(data-action='search')
				i.fa.fa-fw.fa-search
				| Search
			