//-
	Form
mixin form(action, uploadFiles)
	form.form-horizontal(action=action method='POST')&attributes(
		uploadFiles? {'enctype' : 'multipart/form-data'} : {}
	)
		block

//-
	Legend.
mixin legend(text)
	.form-group
		legend= text

//-
	Core field mixin.
mixin field(type, key, label, optional, disabled, help)
	- data = old || doc || {};
	.form-group
			label.col-sm-2.control-label(for=key)= label
			.col-sm-10
				input.form-control(
					type=type
					name=key
					id=key
					required=!optional
					disabled=disabled
				)&attributes(
					key === 'password'? {} : {'value': `${data[key] || ''}`}
				)
				if help
					span.help-block
						=help

//-
	Text input group.
mixin text-field(key, label, optional, disabled, help)
	+field('text', key, label, optional, disabled, help)

//-
	Text input group.
mixin email-field(key, label, optional,  disabled, help)
	+field('email', key, label, optional,  disabled, help)

//-
	Date input group.
mixin date-field(key, label, optional,  disabled, help)
	+field('date', key, label, optional,  disabled, help)

//-
	Date input group.
mixin password-field(key, label, optional,  disabled, help)
	+field('password', key, label, optional,  disabled, help)

//-
	Number input group
mixin number-field(key, label, optional,  disabled, help)
	+field('number', key, label, optional,  disabled, help)

//-
	Select input group.
mixin select-field(key, label, options, optional, disabled, help)
	- data = old || doc || {};
	.form-group
		label.col-sm-2.control-label(for=key)= label
		.col-sm-10
			select.form-control(name=key id=key, required=!optional, disabled=disabled)
				if options.length
					//- Options is an array
					each opt in options
						option(value=opt, selected=(data[key] === opt))= opt
				else
					//- Options is an object {value: label}
					each optVal, optKey in options
						option(value=optKey, selected=(data[key] === optKey))= optVal
			if help
				span.help-block
					=help

//-
	Multiselect input group.
mixin multiselect-field(key, label, options, optional, disabled, help)
	- data = old || doc || {};
	.form-group
		label.col-sm-2.control-label(for=`${key}[]`)= label
		.col-sm-10
			select.form-control(name=`${key}[]` id=`${key}[]`, required=!optional, multiple=true, disabled=disabled)
				if options.length
					//- Options is an array
					each opt in options
						option(value=opt, selected=(doc._id && data[key].indexOf(opt) !== -1))= opt
				else
					//- Options is an object {value: label}
					each optVal, optKey in options
						option(value=optKey, selected=(doc._id && data[key].indexOf(optKey) !== -1))= optVal
			if help
				span.help-block
					=help


//-
	Yes/no select input group.
mixin yesno-field(key, label, optional, disabled, help)
	- data = old || doc || {};
	.form-group
		label.col-sm-2.control-label(for=key)= label
		.col-sm-10
			select.form-control(name=key id=key, required=!optional, disabled=disabled)
				option(value='true' selected=(data[key] === true)) Yes
				option(value='false' selected=(!data[key])) No
			if help
				span.help-block
					=help

//-
	Textarea input field.
mixin textarea(key, label, optional, disabled, help)
	- data = old || doc || {};
	.form-group
		label.col-sm-2.control-label(for=key)= label
		.col-sm-10
			textarea.form-control(id=key, name=key, required=!optional, disabled=disabled)
				=data[key]
			if help
				span.help-block
					=help

//-
	Hidden input group
mixin hidden-field(key, value)
	input(type='hidden' name=key, value=value)

mixin submit()
	.form-group
		.col-sm-10.col-sm-offset-2
			button.btn.btn-primary(type='submit') Submit