//-
	Form
mixin form(action)
	form.form-horizontal(action=action method='POST')
		block

//-
	Legend.
mixin legend(text)
	.form-group
		legend= text

//-
	Core field mixin.
mixin field(type, key, label, optional)
	- doc = doc || {};
	.form-group
			label.col-sm-2.control-label(for=key)= label
			.col-sm-10
				input.form-control(
					type=type
					name=key
					id=key
					required=!optional
				)&attributes(
					key === 'password'? {} : {'value': `${doc[key] || ''}`}
				)

//-
	Text input group.
mixin text-field(key, label, optional)
	+field('text', key, label, optional)

//-
	Text input group.
mixin email-field(key, label, optional)
	+field('email', key, label, optional)

//-
	Date input group.
mixin date-field(key, label, optional)
	+field('date', key, label, optional)

//-
	Date input group.
mixin password-field(key, label, optional)
	+field('password', key, label, optional)

//-
	Select input group.
mixin select-field(key, label, options, optional)
	- doc = doc || {};
	.form-group
		label.col-sm-2.control-label(for=key)= label
		.col-sm-10
			select.form-control(name=key id=key, required=!optional)
				if options.length
					//- Options is an array
					each opt in options
						option(value=opt, selected=(doc[key] === opt))= opt
				else
					//- Options is an object {value: label}
					each optVal, optKey in options
						option(value=optKey, selected=(doc[key] === optKey))= optVal


//-
	Yes/no select input group.
mixin yesno-field(key, label, optional)
	- doc = doc || {};
	.form-group
		label.col-sm-2.control-label(for=key)= label
		.col-sm-10
			select.form-control(name=key id=key, required=!optional)
				option(value='true' selected=(doc[key] === true)) Yes
				option(value='false' selected=(doc[key] === false)) No

//-
	Textarea input field.
mixin textarea(key, label, optional)
	- doc = doc || {};
	.form-group
		label.col-sm-2.control-label(for=key)= label
		.col-sm-10
			textarea.form-control(id=key name=key required=!optional)

mixin submit()
	.form-group
		.col-sm-10.col-sm-offset-2
			button.btn.btn-primary(type='submit') Submit