extends ../../core/layout.pug

block content

	include ../../../mixins/horizontal-form.pug

	if doc._id
		h1 Editing attribute #{doc.code}
	else
		h1 New attribute

	- var isOptions = doc.inputType === 'select' || doc.inputType === 'multiselect';

	+form(`${url}/admin/catalog/attributes/save/${doc._id || ''}`)

		//- Tabs
		ul.nav.nav-tabs(role='tablist')
			li.active(role='presentation')
				a(href='#general' aria-controls='general' role='tab' data-toggle='tab') General
			li(role='presentation' id='options-tab' style={'display': (isOptions)? 'block' : 'none'})
				a(href='#options' aria-controls='options' role='tab' data-toggle='tab') Options

		.tab-content
			#general.tab-pane.active(role='tabpanel')

				+text-field('code', 'Code', false, doc._id, 'Unique, with no spaces')
				+text-field('label', 'Label')
				+select-field('inputType', 'Input type', {
					'text': 'Text',
					'textarea': 'Text Area',
					'date': 'Date',
					'select': 'Select',
					'multiselect': 'Multiselect',
					'yesno': 'Yes/No',
					'price': 'Price',
					'gallery': 'Image gallery'
				}, false, doc._id)
				+text-field('defaultValue', 'Default value', true)
				+yesno-field('isRequired', 'Required values')
				+yesno-field('isUnique', 'Unique Values')
				+yesno-field('isUsedForPromo', 'Use in promo rules')
				+yesno-field('isFilter', 'Filter', false, !isOptions, 'Means it is used for filtering the catalog (only for use with attributes of type 	"Select" and "Multiselect"')
				+yesno-field('isSorter', 'Sorter', false, false, 'Means it is used for sorting the catalog.')
				+yesno-field('isSuper', 'Super', false, !isOptions, 'Means it is used as a super-child products link i.e.: size, flavor (only for attributes of type "Select"')

			#options.tab-pane(role='tabpanel')
				//- Add new option button
				.row
					br
					.col-sm-2
						button.btn.btn-primary.pull-right(data-action='new-option')
							i.fa.fa-plus.fa-fw 
							| Add new
				//- Area to display the option input fields
				#option-fields
					if isOptions
						//- Display the document options if any
						each opt, key in doc.options
							.row(data-option=key)
								.col-sm-8.col-sm-offset-2
									input.form-control(
										type='text'
										name='options[]'
										required=true
										value=opt
										disabled=true
									)
		if doc.isSystem
			.alert.alert-info
				p System attributes cannot be modified
		else
			+submit

block scripts
	script(type='text/javascript' src='/js/attributes.js')
