extends ../../core/layout.pug

block content
	
	include ../../../mixins/data-grid.pug

	+create-btn(`${url}/admin/catalog/attributeSets/edit`)

	h1 Attribute sets

	+table('admin/catalog/attributeSets')
		thead
			tr
				+text-header('name', 'Name')
				th
		tbody
			each doc in docs
				tr(data-action='edit' data-url=`${url}/admin/catalog/attributeSets/edit/${doc._id}`)
					td= doc.name
					td
						if doc.name !== 'Default'
							a(href=`${url}/admin/catalog/attributeSets/delete/${doc._id}`) Delete
block scripts

	script(type='text/javascript' src='/js/data-grid.js')